# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dropbox\Documents\Etudes\Universite Laval\2020 - Formation Python Scale AI en ligne\GIF-U003_Python_Fonctionnel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
